body {
    background-color: rgb(94, 154, 174);
    margin: 0%;
}
header{ 
    background-color: #cfd7c7;
    width: 100%;
    height: 6.06em;
    justify-content: center;
}
.navgrid {
    border-width: 8px;
    height: 15%;
    float: left;
}
nav{
    display: flex;
    justify-content: space-around;
    float: center;
    padding: 43px;
    padding-top: 15px;
    max-height: fit-content;
    border: 10px solid #0B2027;
}
.logo{
    width: 6.05em;
    height: auto;
    justify-content: center;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    text-underline-position: below;
}
a:visited {
    color: rgb(35, 133, 136);
    background-color: transparent;
    text-decoration: underline;
  }
.p1 {
    background-color: #cfd7c7;
    margin-top: 45px;
    line-height: 2 ;
    text-align: center;
    color: #0B2027;
    border: 6px solid black;
    font-family: 'Lato', sans-serif;
}
.gridbox{
    display: flex;
}
#txtbox1 {
    background-color: #cfd7c7;
    border: 6px solid black;
    text-align: center;
    margin-top: 45px;
    color: #0B2027;
    float: left;
    margin-left: 70px;
    font-family: 'Lato', sans-serif;
}
#txtbox2 {
    background-color: #cfd7c7;
    border: 6px solid black;
    text-align: center;
    margin-top: 45px;
    color: #0B2027;
    float: right;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Lato', sans-serif;
}
footer {
    background-color: #cfd7c7;
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px solid black;
}
.social a {
    text-decoration: none;
}
.amazonforest {
    width: 20em;
    height: 12em;
    margin: 45px;
    margin-left: 210px;
    border-radius: 35px;
}
.northpole {
    width: 20em;
    height: 12em;
    margin: 45px;
    margin-left: 210px;
    border-radius: 35px;
}
/* Page two css */
.container {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
    width: auto;
    height: auto;
    margin: 50px;

}
.tempbox1 {
    grid-column: 1;
    grid-row: 1;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
    padding: 10px;
}
.tempbox2 {
    grid-column: 2;
    grid-row: 1;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
    padding: 10px;
}
.tempbox3 {
    grid-column: 1;
    grid-row: 3;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
    padding: 10px;
}
.tempbox4{
    grid-column: 2;
    grid-row: 3;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
    padding: 10px;
}
.img1 {
    grid-column: 1;
    grid-row: 2;
}
.img2 {
    grid-column: 2;
    grid-row: 2;
}
.img3 {
    grid-column: 1;
    grid-row: 4;
}
.img4 {
    grid-column: 2;
    grid-row: 4;
}
#imgid1 {
    width: 100%;
    height: 75%;
}
#imgid2 {
    width: 100%;
    height: 75%;
}
#imgid3 {
    width: 100%;
    height: 75%;
}
#imgid4 {
    width: 100%;
    height: 75%;
}
/* Css for page 3 */
.para1 {
    background-color: #cfd7c7 ;
    font-size: larger;
    text-align: center;
    border: 10px solid black;
    height: auto;
    margin: 15px;
    padding: 20px;
}
.maingrid {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 2;
    width: 1100px;
    height: 700px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-top: 30px;
}
.txtandimg1 {
    grid-column: 1;
    grid-row: 1;
}
.txtandimg2 {
    grid-column: 1;
    grid-row: 2;
}
.txtofimg1 {
    grid-column: 2;
    grid-row: 1;
}
.txtofimg2 {
    grid-column: 2;
    grid-row: 2;
}
.para2 {
    font-size: large;
    word-wrap: auto;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    height: auto;
    width: auto;
    text-align: center;
}
.para3 {
    font-size: large;
    flex-wrap: wrap;
    word-wrap: auto;
    overflow-wrap: break-word;
    height: auto;
    width: auto;
    text-align: center;
}
.imgg1 {
    width: 20em;
    height: auto;
    margin-left: 80px;
}
.imgg2 {
    width: 20em;
    height: auto;
    margin-left: 80px;
}