
.lilita-one-regular{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
*{
    background-color: #8b77ee;
    margin: 0;
    padding: 0;

    
}
h1{
    font-size: 55px;
    /* border: .8px groove #0c0c0c; */
    /* background-color: #412da2;
    border-radius: 25px;
    padding: 20px; */
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: .8px groove #0c0c0c;
    background-color: #412da2;
    border-radius: 25px;
    padding: 20px; 

}
header{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%; 
}
#ref{
    display:grid;
}
/* .navClass{
    width:100%;
} */
.aboutMe{
    display: #8b77ee;
}