@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
$cyan: hsl(178, 100%, 50%);
$very-dark-blue-main: hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);


body {
    background-color: $very-dark-blue-main;
    color: $white;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

// NAV BAR
/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 2rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 1.5rem;
    color: $cyan;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: transform .2s;
  }
  

  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover {
    background-color: $cyan;
    color: black;
    transform: scale(1.2);
  }

  /* Main */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured__container {
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    background-color: $very-dark-blue-card;
    color: $white;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.184);
    .featured__content-img {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-column: 1/2;
      img {
        width: 100%;
        margin-bottom: 2rem;
      }
      .featured__content-img__dots {
        display: flex;
        justify-content: center;
        div {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
    .featured__content-info {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-size: 1.5rem;
        line-height: 1rem;
        margin: 0;
      }
      a {
        width: 65%;
        display: inline;
        text-decoration: none;
        text-align: center;
        color: $white;
        font-size: 1.3rem;
        padding: 0.3rem;
        background-color: $cyan;
      }
    }
  }