body {
    background-color: rgb(94, 154, 174);
}
header{ 
    background-color: #cfd7c7;
    width: 100%;
    height: 6.06em;
    justify-content: center;
}
.navgrid {
    border-width: 8px;
    height: 15%;
    float: left;
}
nav{
    display: flex;
    justify-content: space-around;
    float: center;
    padding: 43px;
    padding-top: 15px;
    max-height: fit-content;
    border: 10px solid #0B2027;
    
}
.logo{
    width: 6.05em;
    height: auto;
    justify-content: center;
}
.p1 {
    background-color: #cfd7c7;
    margin-top: 45px;
    line-height: 2 ;
    text-align: center;
    color: #0B2027;
    border: 6px solid black;
    font-family: 'Lato', sans-serif;
}
.gridbox{
    display: flex;
}
#txtbox1 {
    border: 6px solid black;
    text-align: center;
    margin-top: 45px;
    color: #0B2027;
    float: left;
    margin-left: 70px;
    font-family: 'Lato', sans-serif;
}
#txtbox2 {
    border: 6px solid black;
    text-align: center;
    margin-top: 45px;
    color: #0B2027;
    float: right;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Lato', sans-serif;
}
footer {
    background-color: #cfd7c7;
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px solid black;
}
.amazonforest {
    width: 20em;
    margin: 45px;
    margin-left: 230px;
}
.northpole {
    width: 20em;
    margin: 45px;
    margin-left: 230px;
    border-radius: 35px;
}
/* Page two css */
.container {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
    width: auto;
    height: auto;
    margin: 50px;

}
.tempbox1 {
    grid-column: 1;
    grid-row: 1;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
}
.tempbox2 {
    grid-column: 2;
    grid-row: 1;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
}
.tempbox3 {
    grid-column: 1;
    grid-row: 3;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
}
.tempbox4{
    grid-column: 2;
    grid-row: 3;
    width: auto;
    height: auto;
    border: 10px solid black;
    text-align: center;
    font: "Inconsolata";
}
.img1 {
    grid-column: 1;
    grid-row: 2;
}
.img2 {
    grid-column: 2;
    grid-row: 2;
}
.img3 {
    grid-column: 1;
    grid-row: 4;
}
.img4 {
    grid-column: 2;
    grid-row: 4;
}
#imgid1 {
    width: 100%;
    height: 75%;
}
#imgid2 {
    width: 100%;
    height: 75%;
}
#imgid3 {
    width: 100%;
    height: 75%;
}
#imgid4 {
    width: 100%;
    height: 75%;
}
.conclusion {
    display: flex;
    border: 10px solid black;
    justify-content: center;
    margin: 10px;
    padding: 8px;
    text-align: center;
}
#h1heading {
    display: flex;
    float: left;
    text-align: center;
    margin: 20px
    
}